* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 12px;
}

nav {

    i {
        color: white;
        font-size: 24px;
    }
}

.card {
    width: calc((100% / 4) - 20px);
    margin-top: 20px;

    img {
        height: 240px;
    }

    i {
        padding-left: 12px;
    }
}