* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 12px;
}

nav {

    i {
        color: white;
        font-size: 24px;
        margin-bottom: 0.4rem !important;
    }
}

p {
    margin-bottom: 0.4rem !important;
}

a {
    cursor: pointer;
}

.card {
    width: calc((100% / 4) - 20px);
    margin-top: 20px;

    .mybox {
        height: 100%;
    }

    img {
        height: 240px;
    }

    i {
        font-size: 24px;
        color: black;

        &:hover {
            color: #316CF4;
        }
    }
}